<div class="top__image">
  <div class="top__container">
    <div class="top__text">
      <h2 class="mb-3">登山計画書を作成しよう</h2>
      <p>「<span style="font-weight: bold;">スマホ de 登山計画書</span>」はスマホで簡単に登山計画書(PDF)を作成することができます。</span>
      <p>また、一度作成・登録しておけば、次回以降はスムーズに登山計画書を作成・印刷することができます。</p>
    </div>
    <div class="top__btn__box">
      <%= link_to "新規登録", signup_path, class: "btn btn__signup" %>
      <%= link_to "ゲストログイン(お試し)", guest_login_path, class: "btn btn__guest", data: { turbo_method: :post } %>
    </div>
  </div>
</div>
