<h1>計画書を編集</h1>

<%= render "form", plan: @plan %>

<hr>
<div class="mb-5">
  <%= link_to icon_with_text("trash", "計画書を削除する"), @plan, class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %>
</div>
